.single_animation_path {
  animation: single_animation 1s linear;
}

.single_animation_icon {
  animation: single_animation_icon 1s linear;
}

.single_animation_text_m {
  animation: single_animation_text 0.14s linear forwards;
  opacity: 0;
}

.single_animation_text_u {
  animation: single_animation_text 0.14s linear forwards 0.14s;
  opacity: 0;
}

.single_animation_text_b {
  animation: single_animation_text 0.14s linear forwards 0.28s;
  opacity: 0;
}

.single_animation_text_a1 {
  animation: single_animation_text 0.14s linear forwards 0.42s;
  opacity: 0;
}

.single_animation_text_r {
  animation: single_animation_text 0.14s linear forwards 0.56s;
  opacity: 0;
}

.single_animation_text_a2 {
  animation: single_animation_text 0.14s linear forwards 0.7s;
  opacity: 0;
}

.single_animation_text_q {
  animation: single_animation_text 0.14s linear forwards 0.84s;
  opacity: 0;
}

.single_animation_words {
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 95px;
  animation: single_animation_words 5s ease-in-out infinite;
}

@keyframes single_animation {
  0% {
    d: path(
      "M2 12C24.3105 4.28555 50.9541 1.57881 75.7052 2.0521C96.9619 2.45857 118.58 4.91253 139 9.08368"
    );
  }
  100% {
    d: path(
      "M2 12C47.2725 4.28555 101.337 1.57881 151.562 2.0521C194.696 2.45857 238.564 4.91253 280 9.08368"
    );
  }
}

@keyframes single_animation_icon {
  0% {
    width: 60px;
    viewbox: 0 0 60 14;
  }
  100% {
    width: 282px;
    viewbox: 0 0 282 14;
  }
}

@keyframes single_animation_text {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes single_animation_words {
  0% {
    top: 0.85rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 300px;
  }
  30% {
    top: 0.85rem;
    width: 300px;
  }
  33% {
    top: 0.85rem;
    width: 0;
  }
  35% {
    top: 0.85rem;
    width: 0;
  }
  38% {
    top: -2.6rem;
  }
  48% {
    top: -2.6rem;
    width: 300px;
  }
  62% {
    top: -2.6rem;
    width: 300px;
  }
  66% {
    top: -2.6rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -6.2rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -6.2rem;
    width: 300px;
  }
  95% {
    top: -6.2rem;
    width: 300px;
  }
  98% {
    top: -6.2rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

.arrow:hover > .arrow_right {
  @apply block;
}
.arrow:hover > .arrow_top_right {
  @apply hidden;
}

.skill_card {
  box-shadow: 6px -6px 12px rgba(201, 202, 205, 0.2),
    -6px 6px 12px rgba(201, 202, 205, 0.2), 6px 6px 4px rgba(201, 202, 205, 0.1),
    -2px -2px 4px rgba(148, 150, 155, 0.5),
    inset -1px -1px 2px rgba(255, 255, 255, 0.3),
    inset 1px 1px 2px rgba(201, 202, 205, 0.5);
}

.skill_card:hover {
  box-shadow: inset 0px 3px 4px rgba(197, 198, 201, 0.5),
    inset 3px 3px 8px rgba(201, 202, 205, 0.5),
    inset -6px -6px 8px rgba(255, 255, 255, 0.5),
    inset -3px 0px 2px 1px rgba(252, 253, 255, 0.3),
    inset -2px -2px 16px rgba(255, 255, 255, 0.8),
    inset 3px 3px 4px rgba(148, 150, 155, 0.5);
}

.skill_card:hover path {
  fill: #2eb1ed;
}

.skill_inner_card {
  @apply flex flex-col justify-center items-center;
  height: 138.23px;
  box-shadow: -10.7111px 10.7111px 21.4221px rgba(227, 228, 232, 0.2),
    10.7111px -10.7111px 21.4221px rgba(227, 228, 232, 0.2),
    -3px -3px 2px rgba(250, 251, 252, 0.7), 3px 2px 2px rgba(201, 202, 204, 0.7),
    inset 1.53015px 1.53015px 3.0603px rgba(251, 252, 255, 0.3),
    inset -1.53015px -1.53015px 3.0603px rgba(227, 228, 232, 0.5);
}

.skill_inner_card_icon {
  @apply rounded-full flex justify-center items-center mb-3;
  height: 56px;
  width: 56px;
  box-shadow: 2.12189px 2.12189px 3.53649px 0.707297px rgba(255, 255, 255, 0.8),
    inset -1.41459px -1.41459px 5.65838px rgba(248, 241, 241, 0.5),
    inset -0.707297px -0.707297px 2.82919px rgba(195, 195, 195, 0.2),
    inset 0.707297px 0.707297px 2.82919px rgba(195, 195, 195, 0.2),
    inset -2.12189px -2.12189px 4.24378px 0.707297px rgba(255, 255, 255, 0.9),
    inset 2.12189px 2.12189px 2.82919px 0.707297px rgba(170, 170, 170, 0.9);
}

.skill_card:hover .skill_inner_card_icon {
  box-shadow: -4.36977px 4.36977px 8.73954px rgba(195, 195, 195, 0.2),
    4.36977px -4.36977px 8.73954px rgba(226, 224, 224, 0.2),
    -2.12189px -2.12189px 4.24378px 0.707297px rgba(252, 252, 252, 0.9),
    2.12189px 2.12189px 4.24378px rgba(131, 131, 131, 0.5),
    inset -1.41459px -1.41459px 5.65838px rgba(239, 239, 239, 0.9),
    inset 1.41459px 1.41459px 5.65838px rgba(203, 203, 203, 0.5);
}
