@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  @apply container max-w-screen-xl mx-auto px-4 md:px-6;
}

.custom-container-no-p {
  @apply container max-w-screen-2xl mx-auto;
}

.btn {
  @apply bg-bg py-3 px-5;
  box-shadow: -5px 5px 10px rgba(220, 220, 220, 0.2),
    5px -5px 10px rgba(220, 220, 220, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.9),
    5px 5px 13px rgba(220, 220, 220, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(220, 220, 220, 0.5);
  border-radius: 32px;
  background: linear-gradient(135deg, #e8e8e8 0%, #ffffff 100%);
}

.btn:hover {
  background: #f4f4f4;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3),
    -1px -1px 2px rgba(220, 220, 220, 0.5),
    inset -5px 5px 10px rgba(220, 220, 220, 0.2),
    inset 5px -5px 10px rgba(220, 220, 220, 0.2),
    inset -5px -5px 10px rgba(255, 255, 255, 0.9),
    inset 5px 5px 13px rgba(220, 220, 220, 0.9);
}

.btn-blue {
  @apply text-blue font-semibold font-raleway;
}

.form-control {
  @apply w-full focus:outline-none text-sm text-grey border border-bg rounded-2xl px-3.5 py-2.5;
  box-shadow: inset 1.53015px 1.53015px 3.0603px rgba(251, 252, 255, 0.3),
    inset -1.53015px -1.53015px 3.0603px rgba(227, 228, 232, 0.5);
  filter: drop-shadow(-10.7111px 10.7111px 21.4221px rgba(227, 228, 232, 0.2))
    drop-shadow(10.7111px -10.7111px 21.4221px rgba(227, 228, 232, 0.2))
    drop-shadow(-3px -3px 2px rgba(250, 251, 252, 0.7))
    drop-shadow(3px 2px 2px rgba(201, 202, 204, 0.7));
}
